<%include partials/header %>

<div class="parallax1">
    <div class = "caption">
        <span class= "border">K dev</span>
    </div>
</div>

<div class="textBox">
    <h3>What I do</h3>
   <p>Hello, I'm Kervens Jasmin. "K dev" is the alternate name I use as a Web Developer. 
   As a Web developer, I want to ensure your needs are met fully. This means that the customer will be a 
   big part of the process. The Website I create will be your website because you'll be presented with content 
   that you choose. Head over to my <button><a target="_blank" href="https://damp-stream-11648.herokuapp.com/">Portfolio Website</a></button></p> 
</div>

<div class="parallax2">
    <div class = "caption">
        <span class= "border inner">A service you can trust</span>
    </div>
</div>

<div style="position:relative;">
    <div class="secondText">
        <p>A website is more than just a website. It is a way to communicate with
        your users in so many ways. You want the best for you and your users.</p>
    </div>
</div>

<div class="parallax3">
    <div class="caption">
        <span class="border inner">I care for you and what you do</span>
    </div>
</div>

<div style="position:relative;">
    <div class="secondText">
        <p>You may need a website anything. You could need a website for
        a wedding, business, club, party, group, birthday, and many other 
        events
        </p>
    </div>
</div>

<div class="parallax1">
    <div class = "caption">
        <span class= "border"><a target"_blank" href="/">Choose K dev</a></span>
    </div>
</div>

<%include partials/footer %>




